<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']">
                    <i class="fa fa-cube"></i>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!--<ul class="nav navbar-nav">-->
                    <!--<li><a [routerLink]="['Dresses']">Dresses</a></li>-->
                <!--</ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/dresses']">Dresses</a></li>
                    <li><a [routerLink]="['/dresses']">How it Works</a></li>
                    <li><a [routerLink]="['/dresses']">Rent</a></li>
                    <li *ngIf="!authService.authenticated()"><a href="#" (click)="signup()">Sign Up</a></li>
                    <li *ngIf="!authService.authenticated()"><a (click)="login()">Log In</a></li>
                    <!--<li *ngIf="authService.authenticated()"><a [routerLink]="['/profile']">{{ authService.user.nickname }}</a></li>-->
                    <!--<li *ngIf="authService.authenticated()"><a href="#" (click)="logout()">Logout</a></li>-->
                    <li *ngIf="authService.authenticated()" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ authService.user.nickname }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/profile']">Profile</a></li>
                            <li><a href="#" (click)="logout()">Logout</a></li>
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid" style="padding-top: 70px;">
    <router-outlet></router-outlet>
</div>

<footer class="container-fluid">
    <p>This is the footer</p>
</footer>